{% load static %}
{% block content %}
<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
<div class="sidenav">
  <a>Rover</a>
  <a href="{% url 'dagtask' %}">DAG Tasks</a>  
</div>
{% endblock %}