<nav class="navbar navbar-inverse navbar-dark bg-dark" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li>
            <a href="{% url 'tasks'%}">Tasks</a>
        </li>
    </ul>

</nav>