.truncated-text {
    flex: 1;
    min-width: 0; /* or some value */
    max-width: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hidden {
    visibility: hidden;
  }
  .show {
    visibility: visible;
  }