{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dataeng.css' %}">
 
<h2>grokonez Tutorials</h2>
 
<a href="{% url 'upload_task' %}">Upload Tasks</a>
 
{% if tasks %}
<table style="margin: 20px;">
  <thead>
    <tr>
      <th>id</th>
      <th>Task</th>
      <th>Params</th>
      <th>Attachment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td><a href="{{ task.attachment.url }}" target="_blank" rel="noopener noreferrer">Download</a></td>
      <td>
        <form method="post" action="{% url 'task' task.id %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}