{% extends 'base.html' %}
{% load static %}

{% block title %}Data Eng | Tasks{% endblock %}

{% block content %}
<div class="container">
    <h1>DataEng Tasks</h1>
    <div>
      <a href="{% url 'task_create' %}" class="btn btn-info" role="button">Add Task</a>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table id="tasksTable" class="table">
          <theadi class="table-light">
            <th scope="col">Task</th>
            <th scope="col">Parameters</th>
            <th scope="col">Created</th>
            <th scope="col">Attachmnent</th>
            <th scope="col">Refreshed</th>
            <th scope="col">Message</th>
            <th scope="col">Run Message</th>
            <th scope="col">Action</th>
          </thead>
          {% if tasks %}
          {% for task in tasks %}
          <tbody>
            <tr id="task-{{task.id}}">
                <th scope="row" class="" name="task">{{task.task}}</th>
                <th class="" name="Parameters">{{task.params}}</th>
                <th class="" name="created"><a>{{task.created_at}}</a></th>
                <th class="truncated-text" name="attachment"><a href="{{ task.attachment.url}}" target="_blank" rel="noopener noreferrer">{{ task.attachment }}</a></th>
                <th class="" name="refreshed">{{task.refreshed_at}}</th>
                <th class="" name="message">{{ task.message }}</th>
                <th class="" name="message">{{ task.task_scheduled_status }}</th>
                <th>
                  {% if not task.refreshed_at %}
                    <a href="{% url 'task_push' id=task.id %}" class="btn btn-info" role="button">Push</a>
                  {% else %}
                    <a href="{% url 'task_status' id=task.id %}" class="btn btn-secondary" role="button">Status</a>
                  {% endif %}
                </th>
            </tr>
          </tbody>
          {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script>
$("form#addTask").submit(function(){
    var task = $('input[name="task"]').val().trim();
    var params = $('input[name="params"]').val().trim();
    var attachment = $('input[name="attachment"]').val().trim();
    if (task && params && attachment){
        $.ajax({
            url: '{% url "task_create" %}',
            data: {
                'task': task
                , 'params': params
                , 'attachment': attachment
            },
            dataType: 'json',
            success: function(data){
                console.log(data.task)
            }
        });
    } else {
        alert("All fiels must have a valid value")
    }
     // $("form#addTask").trigger("reset")
})
</script>
{% endblock javascript %}