{% extends 'base.html' %}
{% load static %}

{% block title %}Data Eng | Dag Tasks{% endblock %}

{% block content %}
    <div class="container">
        <h1>Dag Tasks</h1>
        <div>
            <a href="{% url 'dagtask_create' %}" class="btn btn-info" role="button">Create Task</a>
            <hr>
        </div>
        <div class="col-md-8">
            <table id="tasksTable" class="table">
                <thead class="table-light">
                    <th scope="col">Dag</th>
                    <th scope="col">Parameters</th>
                </thead>
                <tbody>
                    {% if dag_task %}
                    {% for task in dag_task %}
                    <tr id="task-{{}task.if}">
                        <th scope="row"><a href="{% url 'dagtask_view' pk=task.id %}">{{ task.dag}}</a></th>
                        <th scope="row">{{ task.parameter}}</th>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}