{% extends 'base.html' %}
{% load static %}
{% block title %}DataEng | Dag Tasks{% endblock %}
{% block content %}
<div class="container">
    <h3>Create Dag Task</h3>
    <hr>
<div class="col-md-8">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <hr>

        <table class="table" id="dag_files_form">
            {{ dagtaskfiles.management_form }}
            {% for form in dagtaskfiles.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            {{ field.errors.as_ul }}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tbody id="items-form-container">
                </tbody>
            {% endfor %}
            
        </table>
        <row >
            <button id="submit_row" type="submit" class="hidden btn btn-primary">Submit</button>
            <a type = 'button' class="btn btn-warning" href="{% url 'dagtask' %}">Cancel</a>
            
        </row>
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/html" id="item-template">
    <tr>
        {% for field in dagtaskfiles.empty_form.visible_fields %}
        <td>
            {{ field }}
        </td>
    
        {% endfor %}
    </tr>
        
</script>
<script type="text/javascript">
    var additional_data = JSON.parse('{{additional_data|escapejs}}');
    $('#dag_files_formset').formset({
        prefix: '{{ dagtaskfiles.prefix }}',
        addText: 'Add'
    });

    document.querySelector('#id_dag').addEventListener("change", function(){
        var id_selected = this.value;
        get_dag_files(id_selected)
    })

    function get_dag_files(id){
        var dag_file = JSON.parse(additional_data['dag_file']);
        var file_list = dag_file.filter(i => i['pk'] == id)[0]['fields']['file_list'];
        var files = JSON.parse(additional_data['files'])
        var files_filtered = files.filter(i => file_list.includes(i['pk']))

        document.querySelector('#items-form-container').innerHTML = ""

        for (var i=0; i<files_filtered.length; i++){
            var pk = files_filtered[i]['pk']
            var item_name = files_filtered[i]['fields']['name']
            addItem()
            document.querySelectorAll('#items-form-container select')[i].innerHTML = ""
            document.querySelectorAll('#items-form-container select')[i].innerHTML = '<option value="'+ pk + '" selected>'+ item_name + '</option>'
            document.querySelectorAll('#items-form-container input')[i].setAttribute("required", "")
            // document.querySelectorAll('#items-form-container select')[i].options[pk].selected = true;
            // document.querySelectorAll('#items-form-container select')[i].options[pk].selected = "selected";
            // document.querySelectorAll('#items-form-container select')[i].value = pk;
            // document.querySelectorAll('#items-form-container select')[i].selectedIndex  = pk;
            // $('#items-form-container select')[i].selectedIndex  = pk;
            // document.querySelectorAll('#items-form-container select')[i].disabled = true;
        }

        $('#submit_row').removeClass('hidden')

    }
    

    function addItem(){
        
        var count = $('#items-form-container').children().length;
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);

        $('#items-form-container').append(compiledTmpl);
        
        // update form count
        $('#id_{{ dagtaskfiles.prefix }}-TOTAL_FORMS').attr('value', count+1);
    };    

</script>
{% endblock content %}