{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container">
    <h3>Dag Task - {{ object.id }}</h3>
    <p><strong>Dag:</strong> <a href="#">{{ object.dag }}</a></p>
    <p><strong>Created At:</strong> <a href="#">{{ object.created_ts }}</a></p>
    <p><strong>Execute At:</strong> <a href="#">{{ object.execute_at_ts }}</a></p>
    <p><strong>Executed At:</strong> <a href="#">{{ object.executes_at_ts }}</a></p>
    <p><strong>Parameters:</strong> <a href="#">{{ object.parameter }}</a></p>
    <table class="table">
        <thead class="table-light">
            <th scope="col">Dag Files Uploaded</th>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th scope="row"><a href="{{ file.path.url}}" target="_blank" rel="noopener noreferrer">{{ file.dag_file }}</a></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Dag Runs</h3>
    <table class="table">
        <thead class="table-light">
            <th scope="col">Created</th>
            <th scope="col">Airflow Dag Run #</th>
            <th scope="col">Status</th>
            <th scope="col">Message</th>
        </thead>
        <tbody>
            {% for run in dag_runs %}
            <tr>
                <th scope="row">{{ run.created_ts }}</td>
                <th scope="row">{{ run.airflow_dag_run_id }}</td>
                <th scope="row">{{ run.airflow_dag_run_status }}</td>
                <th scope="row">{{ run.message }}</td>
                {% if run.airflow_dag_run_id %}
                    <th scope="row"><a type = 'button' class="btn btn-warning" href="{% url 'dagtask_status' pk=run.id %}">Refresh</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <row>
        <a type = 'button' class="btn btn-warning" href="{% url 'dagtask' %}">Back</a>
        <a href="{% url 'dagtask_refresh' pk=object.id %}" class="btn btn-info" role="button">Run Again</a>
    </row>
</div>
{{ object.title }}
{{ file.path.url}}
{% endblock %}